* {
	font-family: "Ubuntu Light", tahoma, arial, helvetica, sans-serif;
	font-weight: lighter;
}

/***** TAB BAR *****/

/* Shrink tab bar */
#tabbrowser-tabs,
#tabbrowser-arrowscrollbox,
#tabbrowser-tab,
.tabbrowser-tab,
.tab-stack,
.tab-content,
.tab-background {
	height: 32px !important;
	min-height: 32px !important;
	margin-bottom: 0 !important;
}

:root {
	--tab-min-height: 0 !important;
	--tab-block-margin: 0 !important;
}

#tabs-newtab-button .toolbarbutton-icon {
	width: 32px !important;
	padding: 8px !important;
}

#alltabs-button {
	display: none;
}

#navigator-toolbox {
	/* Remove black border */
	margin-bottom: -1px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
	z-index: 1000 !important;
}

/* Move close button to the left on hover */
.tab-label-container {
	order: 1;
	font-size: 13px;
}

.tabbrowser-tab .tab-close-button {
	display: none !important;
	border-radius: 8px !important;
	margin-left: -4.5px !important;
	margin-right: 2px !important;
}

.tabbrowser-tab[selected="true"]:not([pinned]):hover .tab-icon-stack {
	display: none !important;
	order: 3;
}


.tabbrowser-tab[selected="true"]:not([pinned]):hover .tab-close-button {
	display: block !important;
	position: relative;
	order: 0;
}

/* Remove silly space */
.titlebar-spacer {
	width: 8px !important;
}

/** Buttons in tab bar **/
#TabsToolbar .toolbarbutton-1 .toolbarbutton-icon {
	width: 32px !important;
	padding: 8px !important;
	height: 100% !important;
}

toolbaritem:last-of-type {
	margin-right: 16px !important;
}

/* Container color bar */
.tab-context-line {
	border-radius: 2px 2px 0 0 !important;
	margin: 0px 1px 0 !important;
}

/***** NAV BAR *****/
.urlbar-input-box {
	font-size: 13px !important;
	font-weight: light !important;
}

#nav-bar {
	position: absolute !important;
	top: 40px !important;
	left: 8px !important;
	right: 8px !important;
	height: 0px !important;
	border-radius: 8px !important;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;

	z-index: 1002 !important;
	min-height: 0px !important;
	transition: height var(--animation-easing-function) 500ms 250ms,
		opacity var(--animation-easing-function) 500ms 250ms !important;
	opacity: 0 !important;
}

:root[customizing] #nav-bar,
#navigator-toolbox:hover #nav-bar,
#nav-bar:focus-within {
	height: 40px !important;
	opacity: 100 !important;
	transition: height var(--animation-easing-function) 500ms 100ms,
		opacity var(--animation-easing-function) 500ms 100ms !important;
}

#urlbar-container {
	--urlbar-container-height: 32px !important;
	opacity: 0;
	position: relative !important;
	top: -512px !important;
	transition: top linear 0ms 250ms,
		opacity var(--animation-easing-function) 500ms 250ms !important;
}

:root[customizing] #nav-bar #urlbar-container,
#navigator-toolbox:hover #nav-bar #urlbar-container,
#nav-bar:focus-within #urlbar-container {
	opacity: 1;
	top: 0 !important;
	transition: top linear 0ms 100ms,
		opacity var(--animation-easing-function) 500ms 100ms !important;
}

#urlbar[breakout] {
	top: unset !important;
}

#nav-bar:focus-within #urlbar-input {
	height: 28px !important;
}

#urlbar-input-container {
	width: 100% !important;
	height: 100% !important;
}

.urlbarView {
	position: absolute !important;
	background-color: light-dark(#f8f8f8, #303030) !important;
	border-radius: 4px !important;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

/***** NAV BUTTONS *****/
toolbarbutton#back-button,
toolbarbutton#forward-button {
	width: 42px !important;
	transition: width var(--animation-easing-function) 500ms,
		opacity var(--animation-easing-function) 500ms !important;
}

toolbarbutton#back-button {
	background-color: light-dark(color-mix(in srgb, var(--toolbar-bgcolor), black 3%),
			color-mix(in srgb, var(--toolbar-bgcolor), black 20%)) !important;
	border-radius: 4px 0px 0px 4px;
	margin: 4px 0px 4px 20px !important;
}

toolbarbutton#forward-button {
	background-color: light-dark(color-mix(in srgb, var(--toolbar-bgcolor), black 3%),
			color-mix(in srgb, var(--toolbar-bgcolor), black 20%)) !important;
	border-radius: 0px;
	margin: 4px -1px 4px 0px !important;
}

:root:not([customizing]) #nav-bar toolbarbutton#back-button[disabled=true] {
	width: 4px !important;
	opacity: 1 !important;
}

:root:not([customizing]) #nav-bar toolbarbutton#back-button[disabled=true] .toolbarbutton-icon {
	opacity: 0;
}

:root:not([customizing]) #nav-bar toolbarbutton#forward-button[disabled=true] {
	width: 4px !important;
	opacity: 1 !important;
}

:root:not([customizing]) #nav-bar toolbarbutton#forward-button[disabled=true] .toolbarbutton-icon {
	opacity: 0;
}

#stop-reload-button {
	background-color: light-dark(color-mix(in srgb, var(--toolbar-bgcolor), black 3%),
			color-mix(in srgb, var(--toolbar-bgcolor), black 20%)) !important;
	padding: 4px !important;
	border-radius: 0px;
	margin: 4px 0px 4px 0px !important;
	z-index: 5;
}

toolbarbutton#back-button:hover,
toolbarbutton#forward-button:hover,
#stop-reload-button:hover {
	z-index: 10;
}

toolbarbutton#back-button .toolbarbutton-icon,
toolbarbutton#forward-button .toolbarbutton-icon,
#stop-reload-button .toolbarbutton-icon {
	height: 30px !important;
}

#urlbar-background {
	border-radius: 0 4px 4px 0 !important;
	margin-left: -4px;
	z-index: -1;
}

#urlbar {
	padding-left: 8px !important;
	opacity: inherit;
}

#bookmarks-menu-button {
	margin-right: 16px !important;
}

/***** BOOKMARKS BAR *****/

#PersonalToolbar {
	position: absolute !important;
	top: 86px !important;
	left: 8px !important;
	right: 8px !important;
	height: 0px !important;
	border-radius: 8px !important;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;

	z-index: 1001 !important;
	min-height: 0px !important;
	transition: height var(--animation-easing-function) 500ms 200ms,
		opacity var(--animation-easing-function) 500ms 200ms !important;
	opacity: 0 !important;
}

:root[customizing] #PersonalToolbar,
#navigator-toolbox:hover #PersonalToolbar,
#PersonalToolbar:focus-within {
	height: 40px !important;
	opacity: 100 !important;
	transition: height var(--animation-easing-function) 500ms 150ms,
		opacity var(--animation-easing-function) 500ms 150ms !important;
}

/***** FIX THEMES *****/
#nav-bar {
	/* If your animated theme doesn't show in the nav-bar, uncomment the following line: */
	/* background-image: var(--lwt-additional-images); */
	/* (and obviously, comment out the following:) */
	background-image: var(--lwt-header-image), var(--lwt-additional-images);

	background-repeat: var(--lwt-background-tiling) !important;

	/* If your theme doesn't fill out the screen, uncomment the following line: */
	/* background-color: var(--lwt-accent-color) !important; */

	background-position: right top, var(--lwt-background-alignment) !important;
}

#PersonalToolbar {
	/* If your animated theme doesn't show in the bookmark-bar, uncomment the following line: */
	/* background-image: var(--lwt-additional-images); */
	/* (and obviously, comment out the following:) */
	background-image: var(--lwt-header-image), var(--lwt-additional-images);

	background-repeat: var(--lwt-background-tiling) !important;

	/* If your theme doesn't fill out the screen, uncomment the following line: */
	/* background-color: var(--lwt-accent-color) !important; */

	background-position: right top, var(--lwt-background-alignment) !important;
}

/***** NOTIFICATION STACK *****/
.notificationbox-stack {
	z-index: 1010 !important;
	width: 50% !important;
	border-radius: 8px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	left: 0 !important;
	right: 0 !important;
}

#nav-bar:hover,
#nav-bar:focus-within {
	z-index: 1020 !important;
}
